NEXT_PUBLIC_SUPABASE_URL=https://czjhwhfqohpmwprhasve.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GROQ_API_KEY=
OPENAI_API_KEY=
REDIS_URL=redis://qir-redis:6379
NEXT_PUBLIC_APP_URL=https://qir.kpfk.org
